<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
      <div class="pic-upload">
        <div class="weight-bold-text">
          プロフィール画像（アバター）
        </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%# <%= f.file_field :picture, id:"user-picture" %>
        <%# <input id="user-picture" type="file" name="tweet[picture]"> %>
      </div>
    </div>
    <%= render partial: "form", locals: { tweet: @tweet } %>
  </div>
</div>