<%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @users.each do |user| %>
    <%= render partial: "user", locals: { user: user } %>
  <% end %>
</div>